easy_admin:
  formats:
    date: 'd/m/Y'
  list:
    actions:
      - { name: 'edit', icon: 'pencil', label: 'Editer' }
      - { name: 'new', label: 'Ajouter %%entity_label%%' }
      - { name: 'delete', label: 'Supprimer' }
      - { name: 'search', label: 'Rechercher' }
  edit:
    title: "Editer l'%%entity_label%%"
    actions:
      - { name: 'delete', label: 'Supprimer' }
      - { name: 'list', label: 'Retour à la liste' }
  new:
    title: 'Nouveau %%entity_label%%'
    actions:
      - { name: 'list', label: 'Retour à la liste' }
  design:
    menu:
      - { entity: User, icon: user }
      - { entity: Child, icon: child }
      - { entity: CorrespondenceBookNote, icon: book }
      - { entity: News, icon: tag }
      - { entity: SchoolClass, icon: table }
      - { entity: School, icon: school }
      - { entity: Address, icon: home }
  entities:
    User:
      class: App\Entity\User
      label: 'Utilisateur'
      controller: App\Controller\UserController
      new:
        title: 'Nouvel Utilisateur'
      list:
        fields:
          - id
          - { property: 'role', label: 'Rôle' }
          - { property: 'firstName', label: 'Prénom' }
          - { property: 'name', label: 'Nom' }
          - { property: 'email', label: 'Adresse mail', type: 'email' }
          - { property: 'phone', label: 'Téléphone' }
          - { property: 'children', label: 'Enfants' }
      form:
        fields:
          - { type: 'section', label: 'Général' }
          - { property: 'firstName', label: 'Prénom' }
          - { property: 'name', label: 'Nom' }
          - { property: 'children', label: 'Enfants' }
          - { type: 'section', label: 'Contact' }
          - { property: 'phone', label: 'Téléphone' }
          - { property: 'email', label: 'Adresse mail', type: 'email' }
          - property: 'address'
            label: 'Adresse postale'
            type: 'App\Form\Type\AddressType'
          - { type: 'section', label: 'Compte' }
          - { property: 'plainPassword', label: 'Mot de passe', type: 'password' }
          - property: 'role'
            label: 'Rôle'
            type: 'choice'
            type_options:
              choices: { 'Utilisateur': 'user', 'Professeur': 'teacher', 'Administrateur': 'admin' }
    Child:
      class: App\Entity\Child
      label: 'Enfant'
      new:
        title: 'Nouvel Utilisateur'
      list:
        fields:
         - id
         - { property: 'schoolClass', label: 'Classe' }
         - { property: 'acceptedInAskedClass', label: 'Accepté(e)' }
         - { property: 'firstName', label: 'Prénom' }
         - { property: 'name', label: 'Nom' }
         - { property: 'birthdate', label: 'Date de naissance' }
         - { property: 'parents', label: 'Parents' }
      form:
        fields:
          - { property: 'firstName', label: 'Prénom' }
          - { property: 'name', label: 'Nom' }
          - property: 'birthdate'
            label: 'Date de naissance'
            type_options: { widget: 'single_text' }
          - { property: 'parents', label: 'Parents' }
          - { property: 'schoolClass', label: 'Classe' }
          - { property: 'acceptedInAskedClass', label: 'Accepté(e)' }
    CorrespondenceBookNote:
      class: App\Entity\CorrespondenceBookNote
      label: 'Note de correspondance'
      new:
        title: 'Nouvelle Note'
      list:
        fields:
         - id
         - { property: 'writter', label: 'Auteur' }
         - { property: 'children', label: 'Enfants' }
         - { property: 'text', label: 'Texte' }
         - { property: 'sentDate', label: "date d'envoi" }
         - { property: 'seenDate', label: 'date de consultation' }
      form:
        fields:
          - { property: 'writter', label: 'Auteur' }
          - { property: 'children', label: 'Enfants' }
          - { property: 'text', label: 'Texte' }
          - { property: 'sentDate', label: "date d'envoi", type_options: { widget: 'single_text' } }
          - { property: 'seenDate', label: 'date de consultation', type_options: { widget: 'single_text' } }
    News:
      class: App\Entity\News
      label: 'Actualité'
      new:
        title: 'Nouvelle Actualité'
      list:
        fields:
          - id
          - { property: 'title', label: 'Titre' }
          - { property: 'text', label: 'Texte' }
          - { property: 'image', label: 'Image' }
          - { property: 'altImage', label: "Alternatif" }
      form:
        fields:
          - { property: 'title', label: 'Titre' }
          - { property: 'text', label: 'Texte' }
          - { property: 'imageFile', label: 'Image', type: 'vich_image' }
          - { property: 'altImage', label: "Texte alternatif de l'image" }
    SchoolClass:
      class: App\Entity\SchoolClass
      label: 'Classe'
      new:
        title: 'Nouvelle Classe'
      edit:
        title: 'Editer la Classe'
      list:
        fields:
          - id
          - { property: 'libelle', label: 'Libelle' }
          - { property: 'teacher', label: 'Professeur' }
          - { property: 'children', label: 'Enfants' }
      form:
        fields:
          - { property: 'libelle', label: 'Libelle' }
          - { property: 'teacher', label: 'Professeur' }
          - { property: 'children', label: 'Enfants' }
    School:
      class: App\Entity\School
      label: 'Ecole'
      disabled_actions: ['new', 'delete', 'search']
      list:
        fields:
          - { property: 'name', label: 'Nom' }
          - { property: 'phone', label: 'Téléphone' }
          - { property: 'email', label: 'Adresse mail', type: 'email' }
          - { property: 'address', label: 'Adresse postale' }
          - { property: 'logo', label: 'Logo' }
          - { property: 'schoolImage', label: "Image de l'école" }
      form:
        fields:
          - { property: 'name', label: 'Nom' }
          - { property: 'phone', label: 'Téléphone' }
          - { property: 'email', label: 'Adresse mail', type: 'email' }
          - { property: 'timetable', label: 'Emploi du temps' }
          - property: 'address'
            label: 'Adresse postale'
            type: 'App\Form\Type\AddressType'
          - { property: 'logoFile', label: 'Logo', type: 'vich_image' }
          - { property: 'altLogo', label: "Texte alternatif du logo" }
          - { property: 'schoolImageFile', label: "Image de l'école", type: 'vich_image' }
          - { property: 'altSchoolImage', label: "Texte alternatif de l'image de l'école" }
    Address:
      class: App\Entity\Address
      label: 'Adresse'
      disabled_actions: ['new']
      list:
        fields:
          - id
          - { property: 'streetNumber', label: 'Numéro de rue' }
          - { property: 'streetName', label: 'Nom de rue' }
          - { property: 'postalCode', label: 'Code postal' }
          - { property: 'city', label: 'Ville' }
      form:
        fields:
          - { property: 'streetNumber', label: 'Numéro de rue' }
          - { property: 'streetName', label: 'Nom de rue' }
          - { property: 'additional1', label: 'Complément 1' }
          - { property: 'additional2', label: 'Complément 2' }
          - { property: 'postalCode', label: 'Code postal' }
          - { property: 'city', label: 'Ville' }

