@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--blanc)!important;
}
a{
    text-decoration: none;
}
