{% extends 'base.html.twig' %}

{% block title %}Cahier de correspondance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="container">

            <h2>Cahier de correspondance</h2>

            {% if is_granted('ROLE_TEACHER') %}
                <a href="{{ path('default_correspondence_new') }}">Ecrire dans le cahier de correspondance d'un enfant</a>
            {% endif %}

        </div>
    </div>

{% endblock %}
