{% extends 'base.html.twig' %}

{% block title %}Inscrire mon enfant{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="css/inscription.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

        <div class="container-fluid info">
            <div class="container">
                <h2>Inscrire mon enfant</h2>
            </div>
        </div>

{% endblock %}
