{% extends 'base.html.twig' %}

{% block title %}Inscrire mon enfant{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link href="css/inscription.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container-fluid info">
        <div class="container">

            <h2 class="mb-3 font-weight-normal">Messages</h2>


        </div>
    </div>

{% endblock %}
