{% extends 'base.html.twig' %}

{% block title %}Inscrire mon enfant{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="container">

            <h2>Messages</h2>


        </div>
    </div>

{% endblock %}
